html{
                margin: 0px;
                padding:0px;
                height: 100%;
            }
            
            body {
                height: 100%;
                font-family: 'Lato' , sans-serif;
                font-weight: 300;
                position: relative;
                padding: 0px;
                margin: 0px;
              color: #fff;
                background: linear-gradient(-45deg, #24ae60, #039261, #b0287b);
              background-size: 400% 400%;
                -webkit-animation: Gradient 6s ease infinite;
                -moz-animation: Gradient 6s ease infinite;
                animation: Gradient 6s ease infinite;
				-webkit-font-smoothing: antialiased;
            }
   
            @-webkit-keyframes Gradient {
            0% {
              background-position: 0% 50%
            }
            50% {
              background-position: 100% 50%
            }
            100% {
              background-position: 0% 50%
            }
          }
          
          @-moz-keyframes Gradient {
            0% {
              background-position: 0% 50%
            }
            50% {
              background-position: 100% 50%
            }
            100% {
              background-position: 0% 50%
            }
          }
          
          @keyframes Gradient {
            0% {
              background-position: 0% 50%
            }
            50% {
              background-position: 100% 50%
            }
            100% {
              background-position: 0% 50%
            }
          }
    
              ul.navBar {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  width: 100%;
                  background: white;
                  position: fixed;
              }
      
              li.navBar {
                  display:inline-block;
              }
              
              li.navBar a {
                  display: block;
                  color: #9d9ead;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
              }
              
              li.navBar a:hover {
                  -webkit-transform: scale(1.2);
                  -webkit-transition: all .15s ease-in-out;
                  -moz-transition: all .15s ease-in-out;
                  -ms-transition: all .15s ease-in-out;
                  -o-transition: all .15s ease-in-out;
                  transition: all .15s ease-in-out;
              }
      
              a {
                text-decoration: none;
                color: #232323;
                transition: color 0.3s ease;
              }
              
              a:hover
              {
                color: #039261;
              }
			  .select-style {
				border: 1px solid #ccc;
				width: 120px;
				border-radius: 3px;
				overflow: hidden;
				background: #fafafa;
			}

			.select-style select {
				padding: 5px 8px;
				width: 130%;
				border: none;
				box-shadow: none;
				background: transparent;
				background-image: none;
				-webkit-appearance: none;
			}

			.select-style select:focus {
				outline: none;
			}
              
              #menuToggle
            {
              display: block;
              padding: 3%;
              top: 50px;
              left: 50px;

              z-index: 1;
              
              -webkit-user-select: none;
              user-select: none;
            }
            
            #menuToggle input
            {
              display: block;
              width: 40px;
              height: 32px;
              position: absolute;
              cursor: pointer;
              opacity: 0; 
              z-index: 2; 
              
              -webkit-touch-callout: none;
            }

              #menuToggle span
              {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                
                background: white;
                border-radius: 3px;
                
                z-index: 1;
                
                transform-origin: 4px 0px;
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
              }
              
              #menuToggle span:first-child
              {
                transform-origin: 0% 0%;
              }
              
              #menuToggle span:nth-last-child(2)
              {
                transform-origin: 0% 100%;
              }
              
      
              #menuToggle input:checked ~ span
              {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: #232323;
              }
              
              #menuToggle input:checked ~ span:nth-last-child(3)
              {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }
      
              #menuToggle input:checked ~ span:nth-last-child(2)
              {
                transform: rotate(-45deg) translate(0, -1px);
              }

              #menu
              {
                position: fixed;
                width: 125px;
                margin: -100px 0 0 -50px;
                padding: 50px;
                padding-top: 125px;
                background: white;
                list-style-type: none;
                -webkit-font-smoothing: antialiased;
                /* to stop flickering of text in safari */
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                min-height: 100vh;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
              }
              
              #menu li
              {
                padding: 10px 0;
                height: 100%;
                font-size: 22px;
              }
              
              #menuToggle input:checked ~ ul
              {
                transform: none;
              }
          
          nav {
              
              height: 30px;
          }
          .footer {
                position: fixed;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: 0px;
                  padding: 0px;
                  color: white;
                  font-size: 12px;
                  padding-left: 10px;
                  text-align: center;
          }
          .left{
            padding-left: 5%;
            width: 45%;
            float: left;
            text-align: center;
			
          }
          .right{
            padding-right: 5%;
            float: right;
            width: 45%;
            text-align: center;
          }
          button{
                text-decoration: none;
                color: white;
                transition: color 0.3s ease;
                background: none;
                border: none;
                font-size: 30px;
				width: 100%;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
          }
              
          button:hover{
                color: #b8b894;
          }
          input{
                text-decoration: none;
                color: white;
            	border: none;
                transition: color 0.3s ease;
                background: none;
                font-size: 30px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
          }
          input:hover{
                color: #b8b894;
          }
          .content{
            margin-top: 5%
          }
          #phead2{
              font-weight: bold;
              font-size: 35px;
          }
          .pinfo{
            font-size: 30px;
            
          }
          select:required:invalid {
            color: white;
          }
          a{
            cursor: pointer;
          }
          a:hover{
            color: #b8b894;
          }
